body{
    background: white;
}
.charmander{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:centerf
}
.carta_fondo{
   height: 200px;
   width: 150px;
   background-color: yellow;
   border-radius: 5%;
   overflow: hidden;
    position: relative ;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20%);
    cursor: pointer;
}
.carta_fondo::before{
    content:"";
    height: 190px;
    width: 140px;
    background-color: red;
    background-size: cover;
    border-radius: 5%;
    position: absolute;
    margin-left: calc((150px - 140px)/2);
}